<a href="https://colab.research.google.com/github/yasuke123/DAAN_888/blob/main/DAAN888_cleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!kaggle datasets download -d asaniczka/tmdb-movies-dataset-2023-930k-movies
!kaggle datasets download -d joyshil0599/movie-reviews-dataset-10k-scraped-data

Dataset URL: https://www.kaggle.com/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies
License(s): ODC Attribution License (ODC-By)
tmdb-movies-dataset-2023-930k-movies.zip: Skipping, found more recently modified local copy (use --force to force download)
Dataset URL: https://www.kaggle.com/datasets/joyshil0599/movie-reviews-dataset-10k-scraped-data
License(s): CC0-1.0
movie-reviews-dataset-10k-scraped-data.zip: Skipping, found more recently modified local copy (use --force to force download)

In [2]:
!unzip tmdb-movies-dataset-2023-930k-movies.zip
!unzip movie-reviews-dataset-10k-scraped-data.zip

Archive:  tmdb-movies-dataset-2023-930k-movies.zip
replace TMDB_movie_dataset_v11.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: TMDB_movie_dataset_v11.csv
Archive:  movie-reviews-dataset-10k-scraped-data.zip
replace letterboxd-reviews.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: letterboxd-reviews.csv
replace metacritic-reviews.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: metacritic-reviews.csv

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import re
warnings.filterwarnings("ignore")

In [4]:
import os
import pandas as pd

# Detect if running in Google Colab
try:
    import google.colab
    in_colab = True
except ImportError:
    in_colab = False

# Set the data directory based on the environment
if in_colab:
    data_dir = "/content/"  # Default path in Colab
else:
    data_dir = "./data/"   # Default path for local machines (a 'data' subfolder)

# Define file paths using the data directory
tmdb_file = os.path.join(data_dir, "TMDB_movie_dataset_v11.csv")
metacritic_file = os.path.join(data_dir, "metacritic-reviews.csv")
letterboxd_file = os.path.join(data_dir, "letterboxd-reviews.csv")

# Check if all files exist before proceeding
for file in [tmdb_file, metacritic_file, letterboxd_file]:
    if not os.path.exists(file):
        print(f"Error: File not found at {file}")
        print("Please ensure the following datasets are placed in the correct directory:")
        print("- TMDB_movie_dataset_v11.csv")
        print("- metacritic-reviews.csv")
        print("- letterboxd-reviews.csv")
        if in_colab:
            print("In Colab, upload the files to '/content/' or adjust 'data_dir' in the code.")
        else:
            print("Locally, place the files in a 'data' subfolder or adjust 'data_dir' in the code.")
        raise FileNotFoundError(f"Missing file: {file}")

In [5]:
# Load the datasets
tmdb_df = pd.read_csv(tmdb_file, encoding="utf-8")
metacritic_df = pd.read_csv(metacritic_file, encoding="ISO-8859-1", on_bad_lines='skip')
letterboxd_df = pd.read_csv(letterboxd_file, encoding="ISO-8859-1")

# Your code continues here...
print("Datasets loaded successfully!")

Datasets loaded successfully!

In [6]:
tmdb_df.rename(columns={'title': 'Movie name'}, inplace=True)

merged_df = tmdb_df.merge(metacritic_df, on="Movie name", how="inner")
merged_df = merged_df.merge(letterboxd_df, on="Movie name", how="inner")
merged_df = merged_df.drop_duplicates()


print(f"Total Records (Rows): {merged_df.shape[0]}")
print(f"Total Columns: {merged_df.shape[1]}\n")
print("Column Headers:", list(merged_df.columns), "\n")
print(merged_df.head())

Total Records (Rows): 18463
Total Columns: 36

Column Headers: ['id', 'Movie name', 'vote_average', 'vote_count', 'status', 'release_date', 'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'tagline', 'genres', 'production_companies', 'production_countries', 'spoken_languages', 'keywords', 'Release Date', 'Rating_x', 'summary', 'User rating', 'Website rating', 'Release Year', 'Rating_y', 'Reviewer name', 'Review date', 'Review', 'Comment count', 'Like count']

       id    Movie name  vote_average  vote_count    status release_date  \
0  157336  Interstellar         8.417       32571  Released   2014-11-05
1  157336  Interstellar         8.417       32571  Released   2014-11-05
2  157336  Interstellar         8.417       32571  Released   2014-11-05
3  157336  Interstellar         8.417       32571  Released   2014-11-05
4  157336  Interstellar         8.417       32571  Released   2014-11-05

     revenue  runtime  adult                     backdrop_path  ...  \
0  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
1  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
2  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
3  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
4  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...

                                             summary User rating  \
0  With our time on Earth coming to an end, a tea...         8.5
1  With our time on Earth coming to an end, a tea...         8.5
2  With our time on Earth coming to an end, a tea...         8.5
3  With our time on Earth coming to an end, a tea...         8.5
4  With our time on Earth coming to an end, a tea...         8.5

  Website rating Release Year         Rating_y   Reviewer name   Review date  \
0             74         2014  â??â??â??â??â??            Evan     10-Nov-14
1             74         2014  â??â??â??â??â??    #1 gizmo fan  4/25/201 6
2             74         2014  â??â??â??â??â??            Lucy     24-Jan-19
3             74         2014  â??â??â??â??â??  Scott Anderson      4-Nov-14
4             74         2014     â??â??â??â??         siobhan     21-Mar-20

                                              Review Comment count  \
0                                       Oh. My. God.             6
1  I'm pretty sure no one will EVER come close to...            38
2                                                NaN            16
3                                                NaN          6  5
4  watched on my 13 inch macbook air just as chri...             6

          Like count
0     6, 6  86 likes
1  4,5 6   6   likes
2                NaN
3        2,988 likes
4     2, 6  08 likes

[5 rows x 36 columns]

In [7]:
# Explore
print(merged_df.info())
print("\n")

print(merged_df.head())
print("\n")

print(merged_df.describe())
print("\n")

print(merged_df.isna().sum())
print("\n")



duplicates = merged_df.duplicated().sum()
print(f"5. Duplicate Rows Remaining: {duplicates}\n")

if 'status' in merged_df.columns:
    print("Unique 'status' Values:", merged_df['status'].unique())
    print()

if 'adult' in merged_df.columns:
    print("Unique 'adult' Values:", merged_df['adult'].unique())
    print()



def parse_star_rating(star_str):
    if not isinstance(star_str, str):
        return None
    star_str = star_str.strip()
    full_stars = star_str.count("â??")
    half_star = 0.5 if "â½" in star_str else 0.0
    return full_stars + half_star

merged_df["Rating_y_cleaned"] = merged_df["Rating_y"].apply(parse_star_rating)

merged_df.drop("Rating_y", axis=1, inplace=True)

# Convert dates
date_cols = ["Release Date", "Review date"]
for col in date_cols:
    if col in merged_df.columns:
        merged_df[col] = pd.to_datetime(merged_df[col], errors="coerce")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18463 entries, 0 to 18462
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    18463 non-null  int64
 1   Movie name            18463 non-null  object
 2   vote_average          18463 non-null  float64
 3   vote_count            18463 non-null  int64
 4   status                18463 non-null  object
 5   release_date          16222 non-null  object
 6   revenue               18463 non-null  int64
 7   runtime               18463 non-null  int64
 8   adult                 18463 non-null  bool
 9   backdrop_path         7988 non-null   object
 10  budget                18463 non-null  int64
 11  homepage              4837 non-null   object
 12  imdb_id               12248 non-null  object
 13  original_language     18463 non-null  object
 14  original_title        18463 non-null  object
 15  overview              17198 non-null  object
 16  popularity            18463 non-null  float64
 17  poster_path           14342 non-null  object
 18  tagline               6484 non-null   object
 19  genres                13493 non-null  object
 20  production_companies  10626 non-null  object
 21  production_countries  12706 non-null  object
 22  spoken_languages      13034 non-null  object
 23  keywords              8070 non-null   object
 24  Release Date          18463 non-null  object
 25  Rating_x              18211 non-null  object
 26  summary               18463 non-null  object
 27  User rating           18463 non-null  object
 28  Website rating        18463 non-null  int64
 29  Release Year          18356 non-null  object
 30  Rating_y              17278 non-null  object
 31  Reviewer name         18463 non-null  object
 32  Review date           17536 non-null  object
 33  Review                14529 non-null  object
 34  Comment count         16886 non-null  object
 35  Like count            13270 non-null  object
dtypes: bool(1), float64(2), int64(6), object(27)
memory usage: 4.9+ MB
None


       id    Movie name  vote_average  vote_count    status release_date  \
0  157336  Interstellar         8.417       32571  Released   2014-11-05
1  157336  Interstellar         8.417       32571  Released   2014-11-05
2  157336  Interstellar         8.417       32571  Released   2014-11-05
3  157336  Interstellar         8.417       32571  Released   2014-11-05
4  157336  Interstellar         8.417       32571  Released   2014-11-05

     revenue  runtime  adult                     backdrop_path  ...  \
0  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
1  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
2  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
3  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
4  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...

                                             summary User rating  \
0  With our time on Earth coming to an end, a tea...         8.5
1  With our time on Earth coming to an end, a tea...         8.5
2  With our time on Earth coming to an end, a tea...         8.5
3  With our time on Earth coming to an end, a tea...         8.5
4  With our time on Earth coming to an end, a tea...         8.5

  Website rating Release Year         Rating_y   Reviewer name   Review date  \
0             74         2014  â??â??â??â??â??            Evan     10-Nov-14
1             74         2014  â??â??â??â??â??    #1 gizmo fan  4/25/201 6
2             74         2014  â??â??â??â??â??            Lucy     24-Jan-19
3             74         2014  â??â??â??â??â??  Scott Anderson      4-Nov-14
4             74         2014     â??â??â??â??         siobhan     21-Mar-20

                                              Review Comment count  \
0                                       Oh. My. God.             6
1  I'm pretty sure no one will EVER come close to...            38
2                                                NaN            16
3                                                NaN          6  5
4  watched on my 13 inch macbook air just as chri...             6

          Like count
0     6, 6  86 likes
1  4,5 6   6   likes
2                NaN
3        2,988 likes
4     2, 6  08 likes

[5 rows x 36 columns]


                 id  vote_average    vote_count       revenue       runtime  \
count  1.846300e+04  18463.000000  18463.000000  1.846300e+04  18463.000000
mean   6.642679e+05      3.426363   1162.842442  4.019460e+07     60.745437
std    4.279237e+05      3.477401   3330.783884  1.737152e+08     53.183566
min    1.200000e+01      0.000000      0.000000  0.000000e+00      0.000000
25%    3.314820e+05      0.000000      0.000000  0.000000e+00      7.000000
50%    6.401460e+05      3.000000      1.000000  0.000000e+00     70.000000
75%    1.023989e+06      6.900000     38.000000  0.000000e+00    103.000000
max    1.442793e+06     10.000000  32571.000000  2.923706e+09    450.000000

             budget    popularity  Website rating
count  1.846300e+04  18463.000000    18463.000000
mean   9.993226e+06     10.512974       67.409793
std    3.618984e+07     24.140290       16.555922
min    0.000000e+00      0.000000       11.000000
25%    0.000000e+00      0.600000       60.000000
50%    0.000000e+00      0.865000       68.000000
75%    0.000000e+00      5.905000       79.000000
max    4.600000e+08    241.285000       98.000000


id                          0
Movie name                  0
vote_average                0
vote_count                  0
status                      0
release_date             2241
revenue                     0
runtime                     0
adult                       0
backdrop_path           10475
budget                      0
homepage                13626
imdb_id                  6215
original_language           0
original_title              0
overview                 1265
popularity                  0
poster_path              4121
tagline                 11979
genres                   4970
production_companies     7837
production_countries     5757
spoken_languages         5429
keywords                10393
Release Date                0
Rating_x                  252
summary                     0
User rating                 0
Website rating              0
Release Year              107
Rating_y                 1185
Reviewer name               0
Review date               927
Review                   3934
Comment count            1577
Like count               5193
dtype: int64


5. Duplicate Rows Remaining: 0

Unique 'status' Values: ['Released' 'In Production' 'Post Production' 'Planned' 'Rumored'
 'Canceled']

Unique 'adult' Values: [False  True]

In [8]:

# Drop cols with many missing non-numerical values, ids, repeat columns
cols_to_drop = [
    "homepage", "backdrop_path", "tagline", "poster_path",
    "release_date", "imdb_id", "keywords", "production_companies", "production_countries", "spoken_languages", "genres", "Release Year"
]
merged_df.drop(columns=[c for c in cols_to_drop if c in merged_df.columns],
               inplace=True,
               errors="ignore")



# Concat digits for like and comment count
def concatenate_all_digits(text):
    if pd.isna(text):
        return None
    digits = re.findall(r'\d+', str(text))
    if not digits:
        return None
    concatenated = "".join(digits)  # e.g. ["6", "6", "08"] -> "6608"
    return int(concatenated)

if "Like count" in merged_df.columns:
    merged_df["Like count"] = merged_df["Like count"].apply(concatenate_all_digits)

if "Comment count" in merged_df.columns:
    merged_df["Comment count"] = merged_df["Comment count"].apply(concatenate_all_digits)


# Check and save
print(merged_df.info())
print(merged_df.isna().sum())
print(merged_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18463 entries, 0 to 18462
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 18463 non-null  int64
 1   Movie name         18463 non-null  object
 2   vote_average       18463 non-null  float64
 3   vote_count         18463 non-null  int64
 4   status             18463 non-null  object
 5   revenue            18463 non-null  int64
 6   runtime            18463 non-null  int64
 7   adult              18463 non-null  bool
 8   budget             18463 non-null  int64
 9   original_language  18463 non-null  object
 10  original_title     18463 non-null  object
 11  overview           17198 non-null  object
 12  popularity         18463 non-null  float64
 13  Release Date       18456 non-null  datetime64[ns]
 14  Rating_x           18211 non-null  object
 15  summary            18463 non-null  object
 16  User rating        18463 non-null  object
 17  Website rating     18463 non-null  int64
 18  Reviewer name      18463 non-null  object
 19  Review date        16161 non-null  datetime64[ns]
 20  Review             14529 non-null  object
 21  Comment count      16886 non-null  float64
 22  Like count         13270 non-null  float64
 23  Rating_y_cleaned   17278 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(5), int64(6), object(10)
memory usage: 3.3+ MB
None
id                      0
Movie name              0
vote_average            0
vote_count              0
status                  0
revenue                 0
runtime                 0
adult                   0
budget                  0
original_language       0
original_title          0
overview             1265
popularity              0
Release Date            7
Rating_x              252
summary                 0
User rating             0
Website rating          0
Reviewer name           0
Review date          2302
Review               3934
Comment count        1577
Like count           5193
Rating_y_cleaned     1185
dtype: int64
       id    Movie name  vote_average  vote_count    status    revenue  \
0  157336  Interstellar         8.417       32571  Released  701729206
1  157336  Interstellar         8.417       32571  Released  701729206
2  157336  Interstellar         8.417       32571  Released  701729206
3  157336  Interstellar         8.417       32571  Released  701729206
4  157336  Interstellar         8.417       32571  Released  701729206

   runtime  adult     budget original_language  ... Rating_x  \
0      169  False  165000000                en  ...  | PG-13
1      169  False  165000000                en  ...  | PG-13
2      169  False  165000000                en  ...  | PG-13
3      169  False  165000000                en  ...  | PG-13
4      169  False  165000000                en  ...  | PG-13

                                             summary  User rating  \
0  With our time on Earth coming to an end, a tea...          8.5
1  With our time on Earth coming to an end, a tea...          8.5
2  With our time on Earth coming to an end, a tea...          8.5
3  With our time on Earth coming to an end, a tea...          8.5
4  With our time on Earth coming to an end, a tea...          8.5

  Website rating   Reviewer name Review date  \
0             74            Evan  2014-11-10
1             74    #1 gizmo fan         NaT
2             74            Lucy  2019-01-24
3             74  Scott Anderson  2014-11-04
4             74         siobhan  2020-03-21

                                              Review  Comment count  \
0                                       Oh. My. God.            6.0
1  I'm pretty sure no one will EVER come close to...           38.0
2                                                NaN           16.0
3                                                NaN           65.0
4  watched on my 13 inch macbook air just as chri...            6.0

  Like count Rating_y_cleaned
0     6686.0              5.0
1     4566.0              5.0
2        NaN              5.0
3     2988.0              5.0
4     2608.0              4.0

[5 rows x 24 columns]

In [9]:
cleaned_file = "merged_dataset.csv"
merged_df.to_csv(cleaned_file, index=False, encoding="utf-8")
print(f" saved to: {cleaned_file}")

 saved to: merged_dataset.csv

In [10]:
###Further Cleaning and Transformation###

# Replace missing text with a placeholder
merged_df["overview"] = merged_df["overview"].fillna("No overview")
merged_df["Review"] = merged_df["Review"].fillna("No review")
merged_df["Rating_x"] = merged_df["Rating_x"].fillna("No Rating")

merged_df.rename(columns={"Rating_x": "Content_Rating"}, inplace=True)


# Replace missing numerical values
# We may pivot to dropping like count given large number of missing values, but for now we will impute
median_like_count = merged_df["Like count"].median()
merged_df["Like count"] = merged_df["Like count"].fillna(median_like_count)

median_comment_count = merged_df["Comment count"].median()
merged_df["Comment count"] = merged_df["Comment count"].fillna(median_comment_count)

# Replace numerical rating with mean
mean_rating_y = merged_df["Rating_y_cleaned"].mean()
merged_df["Rating_y_cleaned"] = merged_df["Rating_y_cleaned"].fillna(mean_rating_y)


print(merged_df.info())
print(merged_df.isna().sum())
print(merged_df.head())

# Mask for rows where Release Date is missing
missing_mask = merged_df["Release Date"].isna()

# Filter
missing_release_date_df = merged_df[missing_mask]

# Print Movie w Release Date
print(missing_release_date_df[["Movie name", "Release Date"]])

# Insert accurate release date for movie titled Music (missing data)
music_release_date = pd.Timestamp("2021-01-14")
mask = (merged_df["Movie name"] == "Music") & (merged_df["Release Date"].isna())
merged_df.loc[mask, "Release Date"] = music_release_date

# Check
missing_music_release_date = merged_df.loc[mask, ["Movie name", "Release Date"]]
print(missing_music_release_date)

# Convert datatypes
merged_df["status"] = merged_df["status"].astype("category")
merged_df["original_language"] = merged_df["original_language"].astype("category")
merged_df["Content_Rating"] = merged_df["Content_Rating"].astype("category")
merged_df["User rating"] = pd.to_numeric(merged_df["User rating"], errors="coerce")

# Replace missing user rating with mean
mean_user_rating = merged_df["User rating"].mean()
merged_df["User rating"] = merged_df["User rating"].fillna(mean_user_rating)

# Clean text columns

# Fix text characters
!pip install ftfy
import ftfy

def fix_encoding(text):
    return ftfy.fix_text(text)

object_cols = merged_df.select_dtypes(include=["object"]).columns

# 2. For each textual column, convert entries to string and fix encoding
for col in object_cols:
    merged_df[col] = merged_df[col].astype(str).apply(fix_encoding)

# check output
sample_df = merged_df[["Reviewer name", "Review"]].sample(10, random_state=32)
print(sample_df)


# 2. Manual replacements as ftfy did not fix all issues
def manual_fixes(text):
    text = text.replace("â??", "'")
    text = text.replace("�", "")
    text = text.replace("â½", "½")
    text = text.replace("â?¦", "…")
    text = text.replace("ï¸", "")
    text = text.replace("ð???", "")

    return text

# Apply manual_fixes to the same text columns
for col in object_cols:
    merged_df[col] = merged_df[col].apply(manual_fixes)

# 3. Print out samples
sample_cols = ["Reviewer name", "Review", "overview", "summary"]
for col in sample_cols:
    print(f"\nSample data from column: {col}")
    print(merged_df[col].sample(10, random_state=32))

# Still have character symbol issues due to emojis, etc... Not really sure what more we can do other than manually coding out instances, and testing how our model performs


# Create derivative features
merged_df["review_length"] = merged_df["Review"].str.len()
merged_df["review_word_count"] = merged_df["Review"].str.split().str.len()

print(merged_df.info())
print(merged_df.head())

transformed_cleaned_file = "transformed_dataset.csv"
merged_df.to_csv(transformed_cleaned_file, index=False, encoding="utf-8")
print(f" saved to: {transformed_cleaned_file}")

### Will add more here after sentimennt analysis (polarity, keyword presence, etc.)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18463 entries, 0 to 18462
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 18463 non-null  int64
 1   Movie name         18463 non-null  object
 2   vote_average       18463 non-null  float64
 3   vote_count         18463 non-null  int64
 4   status             18463 non-null  object
 5   revenue            18463 non-null  int64
 6   runtime            18463 non-null  int64
 7   adult              18463 non-null  bool
 8   budget             18463 non-null  int64
 9   original_language  18463 non-null  object
 10  original_title     18463 non-null  object
 11  overview           18463 non-null  object
 12  popularity         18463 non-null  float64
 13  Release Date       18456 non-null  datetime64[ns]
 14  Content_Rating     18463 non-null  object
 15  summary            18463 non-null  object
 16  User rating        18463 non-null  object
 17  Website rating     18463 non-null  int64
 18  Reviewer name      18463 non-null  object
 19  Review date        16161 non-null  datetime64[ns]
 20  Review             18463 non-null  object
 21  Comment count      18463 non-null  float64
 22  Like count         18463 non-null  float64
 23  Rating_y_cleaned   18463 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(5), int64(6), object(10)
memory usage: 3.3+ MB
None
id                      0
Movie name              0
vote_average            0
vote_count              0
status                  0
revenue                 0
runtime                 0
adult                   0
budget                  0
original_language       0
original_title          0
overview                0
popularity              0
Release Date            7
Content_Rating          0
summary                 0
User rating             0
Website rating          0
Reviewer name           0
Review date          2302
Review                  0
Comment count           0
Like count              0
Rating_y_cleaned        0
dtype: int64
       id    Movie name  vote_average  vote_count    status    revenue  \
0  157336  Interstellar         8.417       32571  Released  701729206
1  157336  Interstellar         8.417       32571  Released  701729206
2  157336  Interstellar         8.417       32571  Released  701729206
3  157336  Interstellar         8.417       32571  Released  701729206
4  157336  Interstellar         8.417       32571  Released  701729206

   runtime  adult     budget original_language  ... Content_Rating  \
0      169  False  165000000                en  ...        | PG-13
1      169  False  165000000                en  ...        | PG-13
2      169  False  165000000                en  ...        | PG-13
3      169  False  165000000                en  ...        | PG-13
4      169  False  165000000                en  ...        | PG-13

                                             summary  User rating  \
0  With our time on Earth coming to an end, a tea...          8.5
1  With our time on Earth coming to an end, a tea...          8.5
2  With our time on Earth coming to an end, a tea...          8.5
3  With our time on Earth coming to an end, a tea...          8.5
4  With our time on Earth coming to an end, a tea...          8.5

  Website rating   Reviewer name Review date  \
0             74            Evan  2014-11-10
1             74    #1 gizmo fan         NaT
2             74            Lucy  2019-01-24
3             74  Scott Anderson  2014-11-04
4             74         siobhan  2020-03-21

                                              Review  Comment count  \
0                                       Oh. My. God.            6.0
1  I'm pretty sure no one will EVER come close to...           38.0
2                                          No review           16.0
3                                          No review           65.0
4  watched on my 13 inch macbook air just as chri...            6.0

  Like count Rating_y_cleaned
0     6686.0              5.0
1     4566.0              5.0
2     2545.0              5.0
3     2988.0              5.0
4     2608.0              4.0

[5 rows x 24 columns]
      Movie name Release Date
4176       Music          NaT
6807       Music          NaT
8148       Music          NaT
9249       Music          NaT
14337      Music          NaT
15255      Music          NaT
15530      Music          NaT
      Movie name Release Date
4176       Music   2021-01-14
6807       Music   2021-01-14
8148       Music   2021-01-14
9249       Music   2021-01-14
14337      Music   2021-01-14
15255      Music   2021-01-14
15530      Music   2021-01-14
Requirement already satisfied: ftfy in /usr/local/lib/python3.11/dist-packages (6.3.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from ftfy) (0.2.13)
                      Reviewer name  \
9283                          tyler
9300                       rudi â?¨
6019                  tawnið??ªð?©¸
17619                  davidehrlich
10795                         Weena
1652                  AmandaTheJedi
1279                  Sergio Robles
14042                          cass
8779   ð??ð??ð??ð??ð??ð??ð??
10236                         Lenny

                                                  Review
9283                               jump scare: the movie
9300   I canâ??t believe Isabelle Adjani invented act...
6019                             old people scare me too
17619  US is an audacious & clever trip through the l...
10795  I would simply close my eyes. Rip to everyone ...
1652   Doesnâ??t top the original but what a fun watc...
1279                                           No review
14042  cheesy sapphic movie where everyone's already ...
8779                                Glad my grandma dead
10236                         Tara is such an A24 bitch.

Sample data from column: Reviewer name
9283                            tyler
9300                         rudi â?¨
6019                    tawnið??ªð?©¸
17619                    davidehrlich
10795                           Weena
1652                    AmandaTheJedi
1279                    Sergio Robles
14042                            cass
8779     ð??ð??ð??ð??ð??ð??ð??
10236                           Lenny
Name: Reviewer name, dtype: object

Sample data from column: Review
9283                                 jump scare: the movie
9300     I can't believe Isabelle Adjani invented actin...
6019                               old people scare me too
17619    US is an audacious & clever trip through the l...
10795    I would simply close my eyes. Rip to everyone ...
1652     Doesn't top the original but what a fun watch!...
1279                                             No review
14042    cheesy sapphic movie where everyone's already ...
8779                                  Glad my grandma dead
10236                           Tara is such an A24 bitch.
Name: Review, dtype: object

Sample data from column: overview
9283                 Lisa suffers from violent day dreams.
9300     The film follows two competing television news...
6019     The film tells the obsession of a policeman to...
17619    Focused on the delicacy and difficulties of fa...
10795    Mustafa, who works at a public institute in Is...
1652     World-famous detective Benoit Blanc heads to G...
1279     A year after the murder of her mother, Sidney ...
14042                                          No overview
8779     A girl is taking a nap. In dreams, she meets h...
10236    A man wants to report that he has been raped b...
Name: overview, dtype: object

Sample data from column: summary
9283     After witnessing a bizarre, traumatic incident...
9300     A woman (Isabelle Adjani) starts exhibiting in...
6019     A Japanese animated feature directed by Taro R...
17619    A mother (Lupita Nyong'o) and a father (Winsto...
10795    A social comedy about a beauty pageant for you...
1652     In Rian Johnson's Knives Out follow-up, detect...
1279     Twenty-five years after a streak of brutal mur...
14042    A sharply observed ode to the triumphs and tra...
8779     A Japanese animated feature directed by Taro R...
10236    Twenty-five years after a streak of brutal mur...
Name: summary, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18463 entries, 0 to 18462
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 18463 non-null  int64
 1   Movie name         18463 non-null  object
 2   vote_average       18463 non-null  float64
 3   vote_count         18463 non-null  int64
 4   status             18463 non-null  category
 5   revenue            18463 non-null  int64
 6   runtime            18463 non-null  int64
 7   adult              18463 non-null  bool
 8   budget             18463 non-null  int64
 9   original_language  18463 non-null  category
 10  original_title     18463 non-null  object
 11  overview           18463 non-null  object
 12  popularity         18463 non-null  float64
 13  Release Date       18463 non-null  datetime64[ns]
 14  Content_Rating     18463 non-null  category
 15  summary            18463 non-null  object
 16  User rating        18463 non-null  float64
 17  Website rating     18463 non-null  int64
 18  Reviewer name      18463 non-null  object
 19  Review date        16161 non-null  datetime64[ns]
 20  Review             18463 non-null  object
 21  Comment count      18463 non-null  float64
 22  Like count         18463 non-null  float64
 23  Rating_y_cleaned   18463 non-null  float64
 24  review_length      18463 non-null  int64
 25  review_word_count  18463 non-null  int64
dtypes: bool(1), category(3), datetime64[ns](2), float64(6), int64(8), object(6)
memory usage: 3.2+ MB
None
       id    Movie name  vote_average  vote_count    status    revenue  \
0  157336  Interstellar         8.417       32571  Released  701729206
1  157336  Interstellar         8.417       32571  Released  701729206
2  157336  Interstellar         8.417       32571  Released  701729206
3  157336  Interstellar         8.417       32571  Released  701729206
4  157336  Interstellar         8.417       32571  Released  701729206

   runtime  adult     budget original_language  ... User rating  \
0      169  False  165000000                en  ...         8.5
1      169  False  165000000                en  ...         8.5
2      169  False  165000000                en  ...         8.5
3      169  False  165000000                en  ...         8.5
4      169  False  165000000                en  ...         8.5

  Website rating   Reviewer name Review date  \
0             74            Evan  2014-11-10
1             74    #1 gizmo fan         NaT
2             74            Lucy  2019-01-24
3             74  Scott Anderson  2014-11-04
4             74         siobhan  2020-03-21

                                              Review Comment count  \
0                                       Oh. My. God.           6.0
1  I'm pretty sure no one will EVER come close to...          38.0
2                                          No review          16.0
3                                          No review          65.0
4  watched on my 13 inch macbook air just as chri...           6.0

   Like count  Rating_y_cleaned review_length review_word_count
0      6686.0               5.0            12                 3
1      4566.0               5.0           141                29
2      2545.0               5.0             9                 2
3      2988.0               5.0             9                 2
4      2608.0               4.0            71                13

[5 rows x 26 columns]
 saved to: transformed_dataset.csv

In [11]:
# VIF

!pip install statsmodels

import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

numeric_cols = [
    "budget",
    "revenue",
    "runtime",
    "vote_average",
    "vote_count",
    "popularity",
    "Like count",
    "Comment count",
    "Rating_y_cleaned",
    "User rating"
]


X = merged_df[numeric_cols].dropna()

X = sm.add_constant(X)


vif_data = []
for i in range(X.shape[1]):
    vif_value = variance_inflation_factor(X.values, i)
    vif_data.append((X.columns[i], vif_value))

vif_df = pd.DataFrame(vif_data, columns=["Feature", "VIF"])
vif_df = vif_df[vif_df["Feature"] != "const"]

print(vif_df)

Requirement already satisfied: statsmodels in /usr/local/lib/python3.11/dist-packages (0.14.4)
Requirement already satisfied: numpy<3,>=1.22.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (1.13.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (2.2.2)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (1.0.1)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)
             Feature       VIF
1             budget  2.929634
2            revenue  3.052789
3            runtime  1.484405
4       vote_average  1.502936
5         vote_count  2.432587
6         popularity  2.528389
7         Like count  1.012618
8      Comment count  1.035227
9   Rating_y_cleaned  1.168370
10       User rating  1.187517

In [12]:
numeric_cols_to_scale = [col for col in numeric_cols if col != "Rating_y_cleaned"]

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# Drop rows with missing values in the columns to scale (or impute beforehand if needed)
X_no_na = merged_df[numeric_cols_to_scale].dropna()

# Fit and transform the numeric columns (excluding the target)
scaled_array = scaler.fit_transform(X_no_na)

# Create a DataFrame for the scaled features, preserving the index
scaled_df = pd.DataFrame(
    scaled_array,
    columns=[f"{col}_scaled" for col in numeric_cols_to_scale],
    index=X_no_na.index
)

# Concatenate the new scaled columns to the original DataFrame
merged_df = pd.concat([merged_df, scaled_df], axis=1)

# Drop the original unscaled numeric columns that were scaled
merged_df.drop(columns=numeric_cols_to_scale, inplace=True)

# Check output
print(merged_df.head())
print(merged_df.info())


final_transformed_cleaned_file = "final_transformed_dataset.csv"
merged_df.to_csv(final_transformed_cleaned_file, index=False, encoding="utf-8")
print(f" saved to: {final_transformed_cleaned_file}")

       id    Movie name    status  adult original_language original_title  \
0  157336  Interstellar  Released  False                en   Interstellar
1  157336  Interstellar  Released  False                en   Interstellar
2  157336  Interstellar  Released  False                en   Interstellar
3  157336  Interstellar  Released  False                en   Interstellar
4  157336  Interstellar  Released  False                en   Interstellar

                                            overview Release Date  \
0  The adventures of a group of explorers who mak...   2014-11-05
1  The adventures of a group of explorers who mak...   2014-11-05
2  The adventures of a group of explorers who mak...   2014-11-05
3  The adventures of a group of explorers who mak...   2014-11-05
4  The adventures of a group of explorers who mak...   2014-11-05

  Content_Rating                                            summary  ...  \
0        | PG-13  With our time on Earth coming to an end, a tea...  ...
1        | PG-13  With our time on Earth coming to an end, a tea...  ...
2        | PG-13  With our time on Earth coming to an end, a tea...  ...
3        | PG-13  With our time on Earth coming to an end, a tea...  ...
4        | PG-13  With our time on Earth coming to an end, a tea...  ...

   review_word_count budget_scaled revenue_scaled runtime_scaled  \
0                  3      4.283274       3.808259       2.035544
1                 29      4.283274       3.808259       2.035544
2                  2      4.283274       3.808259       2.035544
3                  2      4.283274       3.808259       2.035544
4                 13      4.283274       3.808259       2.035544

   vote_average_scaled  vote_count_scaled  popularity_scaled  \
0             1.435202           9.429915           5.374067
1             1.435202           9.429915           5.374067
2             1.435202           9.429915           5.374067
3             1.435202           9.429915           5.374067
4             1.435202           9.429915           5.374067

   Like count_scaled  Comment count_scaled  User rating_scaled
0           1.672764             -0.182956             1.12728
1           0.716139              0.350777             1.12728
2          -0.195813             -0.016164             1.12728
3           0.004085              0.801113             1.12728
4          -0.167385             -0.182956             1.12728

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18463 entries, 0 to 18462
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    18463 non-null  int64
 1   Movie name            18463 non-null  object
 2   status                18463 non-null  category
 3   adult                 18463 non-null  bool
 4   original_language     18463 non-null  category
 5   original_title        18463 non-null  object
 6   overview              18463 non-null  object
 7   Release Date          18463 non-null  datetime64[ns]
 8   Content_Rating        18463 non-null  category
 9   summary               18463 non-null  object
 10  Website rating        18463 non-null  int64
 11  Reviewer name         18463 non-null  object
 12  Review date           16161 non-null  datetime64[ns]
 13  Review                18463 non-null  object
 14  Rating_y_cleaned      18463 non-null  float64
 15  review_length         18463 non-null  int64
 16  review_word_count     18463 non-null  int64
 17  budget_scaled         18463 non-null  float64
 18  revenue_scaled        18463 non-null  float64
 19  runtime_scaled        18463 non-null  float64
 20  vote_average_scaled   18463 non-null  float64
 21  vote_count_scaled     18463 non-null  float64
 22  popularity_scaled     18463 non-null  float64
 23  Like count_scaled     18463 non-null  float64
 24  Comment count_scaled  18463 non-null  float64
 25  User rating_scaled    18463 non-null  float64
dtypes: bool(1), category(3), datetime64[ns](2), float64(10), int64(4), object(6)
memory usage: 3.2+ MB
None
 saved to: final_transformed_dataset.csv